# Supabase
SUPABASE_URL= '//qeuzerblinoutggobtjj.supabase.co'
SUPABASE_SERVICE_ROLE_KEY='eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InFldXplcmJsaW5vdXRnZ29idGpqIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjMyNTI4NywiZXhwIjoyMDkxOTAxMjg3fQ._9xGeGc6v1k_DsXA7oSBdEfiJpreGmiatZWa0zV5sTU'

# Cloudinary
CLOUDINARY_CLOUD_NAME='dksryfga8'
CLOUDINARY_API_KEY='986784739539527'
CLOUDINARY_API_SECRET= 'TmFCi0tc8jGgK320XvFT9-9k3Iw'

# Servidor
PORT=3000
FRONTEND_URL=http://localhost:4200